@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:wght@400..900&family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');


@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-default:
    var(--font-noto-serif),
    var(--font-yuji),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  --font-noto-serif: 'Noto Serif', 'serif';
  --font-playfair: 'Playfair Display', 'serif';
  --font-yuji: 'Yuji Syuku', 'serif';
  --font-playfair-sc: 'Playfair Display SC', 'serif';
  --font-quint: 'Quintessential', 'serif';
  --font-felipa: 'Felipa', 'serif';
  --font-cgaramond: 'Cormorant Garamond', 'serif';

  --breakpoint-huge: 2000px;
  --breakpoint-s: 576px;
  --breakpoint-xs: 475px;
  --breakpoint-2xs: 350px;

  --color-lightText: #1a4b6e;
  --color-lightBg: #f7fafc;
  --color-lightAccent: #ffffff;
  --color-purple: #49053e;
  --color-gold: #b89d4f; /* #d4aa04 */
  --color-darkGold: #ad8f44;
  --color-darkBlue: #181b46;
  --color-orange: #e45f23;
  --color-orangeDark: #ba4b17;
  --color-darkBg: #04000a;
  --color-darkAccent: #0a0019;

  --color-danger: #9b5353;
  --color-background: #dfc6af;
  --color-primary: #65657e;
  --color-secondary: #6c7869;
}


.article{
  @apply flex flex-col gap-3 font-default tracking-wide mb-20 text-base sm:text-lg
}

.dropcap {
  @apply text-white leading-6
}

.dropcap:first-letter {
  @apply float-left text-[2.9em] text-background leading-[0.8] pt-[0.1em] pr-[0.05em]
}

.dark .dropcap:first-letter {
  @apply  text-gold
}

:lang(ja) .dropcap:first-letter {
  @apply font-default text-[2.4em]
}

.nameLogo {
  @apply mb-6 font-cgaramond font-bold inline-block
}

:lang(ja) .nameLogo {
  @apply font-default first-letter:font-default text-[clamp(1rem,5.5vw,4rem)] lg:text-[clamp(1.5rem,3.5vw,3.18rem)]
}

.soMeButton {
  @apply inline w-6 h-6 hover:text-darkGold
}

.experienceTitle{
  @apply text-lg font-default font-bold text-danger
}

.experienceSubtitle{
  @apply text-base font-default italic text-danger
}

.experienceItems {
  @apply relative hover:text-primary
}

.experienceIcons {
  @apply block absolute left-0 top-1 fill-danger dark:fill-white group-hover:fill-primary
}

.localeButton {
  @apply block w-full py-2 px-10 text-white dark:text-gray-300 hover:bg-danger hover:text-background
       dark:hover:bg-darkBg dark:hover:text-gold cursor-pointer
}

.toggleButtons {
  @apply text-white hover:scale-110 hover:text-background cursor-pointer
}

.navLinks {
  @apply text-white dark:text-gray-300 font-bold hover:scale-110 hover:text-background
}