@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:wght@400..900&family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-default:
    var(--font-noto-serif),
    var(--font-yuji),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  --font-noto-serif: 'Noto Serif', 'serif';
  --font-playfair: 'Playfair Display', 'serif';
  --font-yuji: 'Yuji Syuku', 'serif';
  --font-playfair-sc: 'Playfair Display SC', 'serif';

  --breakpoint-s: 576px;
  --breakpoint-xs: 475px;
  --breakpoint-2xs: 350px;

  --color-khaki: #efeae3;
  --color-khaki-dark: #c1bdb7;
  --color-khaki-darker: #9a9792;
  --color-textblue: #1a4b6e;
  --color-purple: #402d63;
  --color-gold: #d4aa04;
}


.article{
  @apply flex flex-col gap-3 font-default tracking-wide mb-20 text-base sm:text-lg
}

.dropcap {
  @apply text-base sm:text-xl text-left font-default 
  first-letter:float-left first-letter:text-6xl first-letter:mt-2.5 first-letter:mr-1 
  mb-12 w-4/5 md:w-1/2 xl:w-2/5 mx-auto text-black/80 dark:text-gray-300
}

:lang(ja) .dropcap:first-letter {
  @apply text-5xl
}